# Matching Service Configuration

# Server Configuration
PORT=3003
NODE_ENV=development

# Database Configuration
MONGO_URI_MATCHING="mongodb+srv://<username>:<password>@<cluster-url>/matching-service?retryWrites=true&w=majority&appName=<appName>"

# Redis Configuration
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# Frontend Configuration
FRONTEND_URL=http://localhost:5173

# External Services
USER_SERVICE_URL=http://localhost:3001
QUESTION_SERVICE_URL=http://localhost:3002
